.md .mq-left {
	margin-left: 2vw;
}

.ios .mq-left {
}

a.mq-button {
	width: 21vw;
	margin: 1vw;
	height: 60px;
	border: 1px solid #000;
	border-radius: 5vw;
	text-align: center;
	color: #000;
	display: block;
}

.mq-active {
  background: rgba(128, 128, 128, 0.5);
}

.mq-button.active-state {
  background: rgba(128, 128, 128, 0.5);
}

.mq-icon {
	margin: 5px;
	font-size: 50px !important;
}

.mq-servo-label {
	width: 11% !important;
}
.mq-servo-icon {
	font-size: 22px !important;
}

.mq-list-button {
	width: 90vw;
	text-align: left !important;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url("m-icons.eot");
  src: local('Material Icons'),
       local('m-icons'),
       url("m-icons.woff2") format('woff2'),
       url("m-icons.woff") format('woff'),
       url("m-icons.ttf") format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

@font-face {
  font-family: 'Framework7 Icons';
  font-style: normal;
  font-weight: 400;
  src: url("f7-icons.eot");
  src: url("f7-icons.woff2") format("woff2"),
       url("f7-icons.woff") format("woff"),
       url("f7-icons.ttf") format("truetype");
}

.f7-icons {
  font-family: 'Framework7 Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 25px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  font-feature-settings: "liga";
  text-align: center;
}

.list-block-label {
  margin: 10px 0 35px;
  padding: 0 15px;
  font-size: 14px;
  color: #8f8f94;
}